---
import BackToTop from '@components/BackToTop.astro';
import { CTA } from '@partials/CTA';
import { Footer } from '@partials/Footer';
import { Hero } from '@partials/Hero';
import { RecentOssProjects } from '@partials/RecentOssProjects';
import { RecentPosts } from '@partials/RecentPosts';
import { RecentProjects } from '@partials/RecentProjects';
import Base from '@templates/Base.astro';
import { AppConfig } from '@utils/AppConfig';
import {
  sortByRunningOrder,
  sortPostByDate,
  sortProjectsByDate,
} from '@utils/Posts';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('post');
const sortedPosts = sortPostByDate(allPosts);
const lastThreePosts = sortedPosts.slice(0, 3);
const allProjects = await getCollection('project');
const openSourceProjects = sortByRunningOrder(
  allProjects.filter((project) => project.data.openSource)
).slice(0, 4);
const myProjects = sortProjectsByDate(
  allProjects.filter((project) => !project.data.openSource)
).slice(0, 3);

const { title, description, ogImage } = AppConfig;
---

<!-- Base -->
<Base head={{ title, description, ogImage }}>
  <div
    class="grid grid-cols-1 gap-10 lg:h-screen lg:grid-cols-5 lg:grid-rows-[auto,1fr,auto]"
  >
    <!-- Left Column -->
    <div class="flex flex-col justify-between lg:col-span-3">
      <div>
        <!-- Hero Section -->
        <div class="lg:items-left lg:justify-left flex overflow-auto p-6">
          <Hero
            client:load
            heading="Hi there, I'm"
            phrases={[
              {
                text: 'Viraj Bahulkar',
                gradient: 'from-purple-400 via-pink-500 to-red-500',
              },
              {
                text: 'a Passionate Developer',
                gradient: 'from-green-400 via-blue-500 to-purple-500',
              },
              {
                text: 'Building Scalable Solutions',
                gradient: 'from-indigo-400 via-purple-500 to-pink-500',
              },
              {
                text: 'Turning Ideas into Reality',
                gradient: 'from-red-400 via-pink-500 to-purple-500',
              },
            ]}
            description="Full-Stack Developer with 7+ years of experience in building scalable web applications. Passionate about coding, problem-solving, and creating seamless user experiences. Specialized in ReactJS for dynamic front-end development and NodeJS for secure, optimized back-end solutions. Skilled in integrating front-end frameworks with RESTful APIs, developing microfrontends and microservices, managing databases, and deploying applications to the cloud."
          />
        </div>

        <!-- Career Section -->
        <div class="lg:items-left lg:justify-left flex overflow-auto p-6">
          <Hero
            client:load
            heading={{ text: 'My career', class: 'text-2xl' }}
            description="So far, the journey has been about building innovative applications, enhancing web experiences and delivering solutions that make business thrive."
          />
        </div>

        <!-- Things I love Section -->
        <div class="flex overflow-auto p-6">
          <Hero
            client:load
            heading={{ text: 'Things I love to do', class: 'text-2xl' }}
            description={[
              {
                text: 'Continuously experimenting with new frameworks, tools, and libraries to enhance my skills.',
              },
              {
                text: 'Keeping myself updated with industry trends, insights, and expert discussions.',
              },
              {
                text: 'Sharing my learnings, thoughts, and technical insights through writing.',
              },
              {
                text: 'Discovering new places, embracing nature, and drawing inspiration from different experiences.',
              },
            ]}
          />
        </div>

        <!-- Motivation Section -->
        <div class="flex overflow-auto p-6">
          <Hero
            client:load
            heading={{ text: 'My motivation', class: 'text-2xl' }}
            description={[
              {
                text: 'Every line of code you write is a step closer to turning imagination into reality. Keep building, keep evolving',
                type: 'quote',
                class: 'border-l-4 border-blue-500 pl-4 italic text-lg my-4',
              },
            ]}
          />
        </div>
      </div>

      <!-- CTA and Footer (desktop) -->
      <div class="hidden flex-col overflow-auto p-6 lg:flex">
        <CTA client:load />
        <Footer />
      </div>
    </div>

    <!-- Right Column -->
    <div class="lg:col-span-2">
      <div
        class="bg-regal-blue flex items-center justify-center overflow-auto p-6"
      >
        <RecentProjects projectList={myProjects} />
      </div>
      <div
        class="bg-to-sky-400 flex items-center justify-center overflow-auto p-6"
      >
        <RecentOssProjects projectList={openSourceProjects} />
      </div>
      <div class="flex items-center justify-center overflow-auto p-6">
        <RecentPosts postList={lastThreePosts} />
      </div>

      <!-- CTA and Footer (mobile & tablet) -->
      <div class="flex flex-col overflow-auto p-6 lg:hidden">
        <CTA client:load />
        <Footer />
      </div>
    </div>
  </div>

  <BackToTop />
</Base>
