---
import { PaginationHeader } from '@components/PaginationHeader';
import { ProjectGallery } from '@components/ProjectGallery';
import { Footer } from '@partials/Footer';
import Base from '@templates/Base.astro';
import { AppConfig } from '@utils/AppConfig';
import { sortProjectsByDate } from '@utils/Posts';
import { getCollection } from 'astro:content';
import CTA from '@sections/CTA.astro'

const allProjects = await getCollection('project');
const sortedProjects = sortProjectsByDate(allProjects);

const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Projects`;
const title = titleBase + titleSuffix;
const description =
  'Explore the portfolio of a passionate Rails and React developer. Discover innovative open source projects, code samples, and contributions to the developer community.';
const url = `${AppConfig.site_url}/projects/`;
---

<Base head={{ title, description, url }}>
  <div class="md:min-h-screen lg:grid lg:grid-cols-4 lg:gap-10">
    <!-- Left Sidebar -->
    <div class="col-span-1 flex items-start justify-center pt-8">
      <div
        class="animate-fadeIn rounded-2xl border border-base-300 p-6   shadow-xl  lg:w-11/12 lg:max-w-sm"
      >
        <PaginationHeader
          title="Professional Web Development Showcase"
          description="A curated collection of diverse web development projects, presented with a clean, flowing layout to highlight expertise and creativity. This showcase demonstrates skills across various domains, emphasizing attention to detail and innovation."
          extraClasses={{
            headerClasses:
              'text-2xl font-bold mb-4 text-gradient bg-gradient-to-r from-purple-600 to-blue-500 bg-clip-text text-transparent',
            descriptionClasses: ' mb-4 leading-relaxed',
          }}
        />
      </div>
    </div>

    <!-- Right Side: Isotope-like Layout -->
    <div class="col-span-3 overflow-y-auto p-4">
      <ProjectGallery
        client:load
        projectList={sortedProjects}
        isotopeMode={true}
      />
    </div>
  </div>

  <div class="flex-col lg:grid lg:grid-cols-2 overflow-auto p-6 lg:flex">
    <CTA />
  </div>
  <Footer />
</Base>
