---
import { ContactForm } from '@components/ContactForm';
import SocialMatrixWrapper from '@components/SocialSignalMatrix/SocialMatrixWrapper.astro';
---

<div class="flex flex-col justify-between gap-10 flex-wrap">
  <SocialMatrixWrapper />
  <ContactForm />

</div>
